div {
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: hidden;
    overscroll-behavior: none;

    &::-webkit-scrollbar {
        display: none;
    }

    font-family: Arial;
}

.menu {
    width: 80vmin;
    position: absolute;
    font-family: 'Arial Narrow';
    font-style: normal;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(2555, 255, 255, 0.6);
    text-align: center;
    padding: 5vmin;
    border: 1vmin rgba(0, 0, 0, 0.6) solid;
    font-size: 7vmin;
}

button {
    font-size: 7vmin;
    background: rgb(123, 146, 196);
    color: rgb(10, 4, 4);
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 1vmin;
    
}

button:hover {
    background: orange;
    color: black;
}

select {
    font-size: 7vmin;
    font-family: 'Arial Narrow';
    font-style: normal;
    cursor: pointer;
    border: none;
    border-radius: 1vmin;
    outline: none;
}

.time {
    font-size: 3vmin;
    font-family: 'Arial Narrow';
    font-style: normal;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
}

.menu strong {

    text-decoration: underline
}