.puzle {
    background-image: url(../assets/imgs/pikachu.jpg);
    width: 368px;
    height: 248px;
}

.pieza1 {
    background-position: 0px 0px;
    border-style: groove;
    border-color: #92a8d1;
}

.pieza2 {
    background-position: -368px 0px;
    border-style: groove;
    border-color: #92a8d1;
}

.pieza3 {
    background-position: -368px -248px;
    border-style: groove;
    border-color: #92a8d1;
}

.pieza4 {
    background-position: 0px -248px;
    border-style: groove;
    border-color: #92a8d1;
}

.contenedor-imagenes {
    display: flex;
}

.contenedor-imagenes img:first-child {
    margin-right: 5px;
    margin-left: 5px;
}