.tiempo{
    position:absolute;
    width:100%;
    height:100%;
    font-size: 2rem;
    font-weight:200;
    text-align: center;
    margin-top: 5em;
    padding: 1.3em;
    color: #080404;
    font-family: arial;
}